services:
  # OpenTelemetry Collector (Agent Mode)
  otel-collector:
    image: otel/opentelemetry-collector:latest
    container_name: otel-collector-agent
    command: ["--config=/etc/otel-collector-config.yaml"]
    pid: 'host'
    privileged: true
    network_mode: "host"
    volumes:
      - ./configs/otel-collector/config.yaml:/etc/otel-collector-config.yaml
      - /:/hostfs:ro
    environment:
      # Monitoring node'un hostname veya IP adresi - .env dosyasından okunmalı
      - MONITORING_NODE_HOST=${MONITORING_NODE_HOST}
      - HOST_PROC=/hostfs/proc
      - HOST_SYS=/hostfs/sys
    restart: unless-stopped
